#front {
  background-color: #f4f4f4;
}

#front .top-content {
  margin: 0px auto;
  max-width: 100%;
  position: relative;
}

#front .top-content img {
  object-fit: cover;
  height: 500px;
  width: 100%;
}

#front .top-content .top-label-wrap {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  font-family: "Noto Sans Japanese", sans-serif;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

#front .front-page-content-wrap {
  margin: 0px auto;
  max-width: 1200px;
  min-width: 700px;
}

#front .front-page-content-wrap .content-wrap {
  display: flex;
  margin: 5px;
  background-color: #fff;
  padding: 5px;
}

#front .front-page-content-wrap .flex-reverse {
  flex-flow: row-reverse;
}

#front .front-page-content-wrap .image-content {
  max-width: 40%;
}

#front .front-page-content-wrap .image-content img {
  width: 100%;
}

#front .front-page-content-wrap .explain-content {
  min-width: 60%;
  position: relative;
}

#front .front-page-content-wrap .explain-content .title {
  text-align: center;
  padding: 30px 0px;
}

#front .front-page-content-wrap .explain-content .title span {
  padding: 10px 20px;
  font-weight: bold;
  font-size: 16pt;
  border-bottom: dotted 1px #dc143c;
}

#front .front-page-content-wrap .explain-content .explain {
  text-align: center;
  min-height: 230px;
  padding: 10px 0px;
}

#front .front-page-content-wrap .explain-content .move-more-btn-row {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
  text-align: center;
}

#front
  .front-page-content-wrap
  .explain-content
  .move-more-btn-row
  .move-more-btn {
  position: relative;
  cursor: pointer;
  border: 2px solid #dc143c;
  width: 130px;
  margin: 0 auto;
  transition: 0.3s;
  z-index: 1;
}

#front
  .front-page-content-wrap
  .explain-content
  .move-more-btn-row
  .move-more-btn::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #dc143c;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
#front
  .front-page-content-wrap
  .explain-content
  .move-more-btn-row
  .move-more-btn:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

#front
  .front-page-content-wrap
  .explain-content
  .move-more-btn-row
  .move-more-btn
  a {
  font-size: 10pt;
  text-decoration: none;
  color: #dc143c;
  padding: 7px;
  display: block;
}

#front
  .front-page-content-wrap
  .explain-content
  .move-more-btn-row
  .move-more-btn
  a:hover {
  transition: 0.3s;
  color: #fff;
}

#front .front-page-content-wrap .news-content {
  padding: 10px 5px 10px 5px;
}

#front .front-page-content-wrap .news-content .news-wrap {
  color: #000;
  background-color: #fff;
}

#front .front-page-content-wrap .news-content .news-wrap .title {
  padding: 15px 0px;
  text-align: center;
  font-weight: bold;
}

#front .front-page-content-wrap .news-content .news-wrap .news-row {
  padding: 10px;
  margin: 0 auto;
  max-width: 1000px;
}

#front .front-page-content-wrap .news-content .news-wrap .news-row .news-link {
  display: block;
  margin: 0px auto;
  color: #000;
  text-decoration: none;
}

#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-row
  .news-link:hover {
  opacity: 0.7;
}

#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-row
  .news-link
  .news-title {
  font-size: 9pt;
}
#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-row
  .news-link
  .news-body {
  font-size: 11pt;
  background-color: #fff;
}

#front .front-page-content-wrap .news-content .news-wrap .news-all-button-wrap {
  margin: 10px 0px;
  padding-bottom: 15px;
  text-align: center;
}

#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-all-button-wrap
  button {
  position: relative;
  border: 2px solid #dc143c;
  font-size: 10pt;
  cursor: pointer;
  color: #dc143c;
  width: 130px;
  padding: 10px;
  margin: 0 auto;
  transition: 0.3s;
  background: #fff;
  z-index: 1;
}

#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-all-button-wrap
  button:hover {
  color: #fff;
}

#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-all-button-wrap
  button::before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  content: "";
  background: #dc143c;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
#front
  .front-page-content-wrap
  .news-content
  .news-wrap
  .news-all-button-wrap
  button:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* スマホレイアウト */
@media screen and (max-width: 800px) {
  #front .front-page-content-wrap {
    max-width: inherit;
    min-width: inherit;
  }

  #front .front-page-content-wrap .content-wrap {
    display: block;
  }

  #front .front-page-content-wrap .image-content {
    margin: 0 auto;
    max-width: 100%;
    max-height: inherit;
  }

  #front .front-page-content-wrap .explain-content {
    margin: 0 auto;
    width: 100%;
  }

  #front .front-page-content-wrap .image-content img {
    object-fit: contain;
    width: 100%;
  }
}
