header {
  width: 100%;
  min-height: 30px;
  background-color: #17184b;
  padding: 10px 0px;
  position: relative;
}

header .icon {
  top: 15px;
  left: 20px;
  position: absolute;
}

header .title a {
  color: #fff;
  font-size: 14pt;
  font-weight: bold;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  cursor: pointer;
  text-decoration: none;
}

header #menu-icon {
  position: absolute;
  right: 20px;
  cursor: pointer;
  color: #fff;
  font-size: 16pt;
}

header #menu-icon:hover {
  opacity: 0.6;
}

header #header-nav {
  position: relative;
  z-index: 10;
}

header #header-nav ul {
  background-color: #fff;
  position: absolute;
  right: 0px;
  white-space: nowrap;
  top: 40px;
  padding: 0px;
  list-style: none;
  border: 1px solid #f4f4f4;
}

header #header-nav ul li {
  border-bottom: 1px solid #f4f4f4;
}

header #header-nav ul li a {
  display: block;
  padding: 10px 20px;
}

header #header-nav ul li a {
  text-decoration: none;
  font-weight: bold;
}

header #header-nav ul li a:hover {
  opacity: 0.7;
  background-color: #0000ee;
  color: #fff;
}
